*{
    padding: 0%;
    margin: 0%;
}
.main{
    height: 92vh;
    width: 100%;
    position: relative;
    background-position: center ;
    background-size: cover;
    background-image: linear-gradient(rgb(0, 0, 0,0.85),rgba(0,0,0,0.5),rgba(0, 0, 0, 0.85)),url("assets/img/bg.jpg");
    
}

body{
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 76vw;
    margin: auto;
    height: 85px;
}
    
.bgtext{
    align-items: center;
    justify-content: center;
    height: 78%;
    display: flex;
    color: rgb(255, 255, 255);
    position: relative;
    gap: 20px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 46px;

}

#signinbox{
    background-color: red;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    height: 2.1em;
    width: 6em;
}



#languagebox {
    background-color: rgba(53, 47, 47, 0.1);
    color: rgb(255, 255, 255);
    height: 2.5em;
    width: 9em;
    border-radius: 4px;
    text-align: center;
    font-weight: 550;
    border-color: white;

}
.navrightcorner{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bgtext h1{
    font-weight:900 ;
    font-size: 48px;
    font-family: sans-serif;
    
}

.bgtext h3{
    font-weight: 400;
    font-size: 24px;
    font-family: sans-serif;    
}

.bgtext p{
    font-weight: 400;
    font-size: 20px;
    font-family: sans-serif;
}

#getstartedbox{
    background-color: red;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    font-weight: 550;
    text-align: center;
    height: 60px;
    width: 320px;

}
#emailaddressbox{
    font-family: sans-serif;
    font-weight: 400 ;
    width: 100%;
    border-radius: 6px;
    background: transparent;
    font-size: 18px;
    border-color: rgb(240, 240, 240);  
    color: rgb(255, 255, 255,0.7);  
    padding: 0.5rem 1rem 0.5rem;
    line-height: 1.5;
    height: 40px;
    
}

.bottomtext {
    display: flex;
    gap: 10px;
    
}

.firstSeparation{
    height:0.4em;
    background-color: rgb(59, 58, 58);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}  




/* top section of html is done*/


.box{
    padding-top: 4.5%;
    padding-bottom: 5%;
}



.section{
    color: rgb(233, 233, 233);
    margin-left: 10vw;
    margin-right: 10vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.secText{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding-right: 1%;

}

.secText h2{
    font-weight: 900;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}
.secText p{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.secImg{
    width: 50%;
    padding-left: 1%;
    position: relative;
}

.secImg img{
    width: 100%;
    position: relative;
    z-index: 50;
}

.secImg video{
    position: absolute;
    top: 20%;
    right: 12%;
    width: 73%;
}


.seperation{
    height: 7px;
    background-color: rgb(59, 58, 58);
    
}

.thirdSection{
    color: rgb(233, 233, 233);
    margin-left: 10vw;
    margin-right: 10vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdsecImg{
    width: 50%;
    padding-left: 1%;
    position: relative;
}


.thirdsecImg img{
    width: 100%;
    position: relative;
    z-index: 10;
}

.thirdsecImg video{
    position: absolute;
    top: 12%;
    left: 20%;
    width: 100%;
    max-width: 63%;
    max-height: 47%;
}



